# Salesforce
.sfdx/
.sf/
.localdevserver/
deploy-options.json
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/launch.json
.idea/
*.swp

# Build
dist/
build/
coverage/
